.app{
  .form-group{
    .el-checkbox{
      margin-right: 8px;
    }
  }
  .el-checkbox__label{
    font-size: $xs-size;
    padding-left: 6px;
    color:$text-main-color;
  }
  .el-checkbox__inner{
    width:16px;
    height:16px;
    border-color:$checkbox-border-color;
    border-radius: 4px;
    &::after{
      left:5px;
      top:2px;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: $main-color;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: $main-color;
  }
  .el-checkbox__inner:hover{
    border-color: $main-color;
  }
  .el-radio__input.is-checked .el-radio__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-radio__inner:hover{
    border-color: $main-color;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: $main-color;
  }
}